@{
  Layout = "_Layout";
}

@using VendorTracker.Models;


<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add Order to @Model.Name</h5>

      <div class="form-group">
        <label for="orderTitle">Title:</label>
        <input type="text" id="orderTitle" name="orderTitle" class="form-control">
      </div>

      <div class="form-group">
        <label for="orderDescription">Description:</label>
        <input type="text" id="orderDescription" name="orderDescription" class="form-control">
      </div>

      <div class="form-group">
        <label for="orderPrice">Price:</label>
        <input type="text" id="orderPrice" name="orderPrice" class="form-control">
      </div>

      <div class="form-group">
        <label for="orderDate">Date:(mm/dd/yyyy)</label>
        <input type="text" id="orderDate" name="orderDate" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
