@{
  Layout = "_Layout";
}


<h1>Welcome to Your Vendor Tracker</h1>
<h3>You can track your vendors and their orders with just a few clicks!</h3>
<br />
<a href='/vendors/new'><button>Add a Vendor</button></a>

<a href='/vendors'><button>See list of all your Vendors</button></a>
