@{
  Layout = "_Layout";
}
    <h1>Welcome to Your Vendor Tracker</h1>
    <h3>You can track your vendors and their orders with just a few clicks!</h3>
    <br />
    <button><a href='/Vendor/new'>Add a Vendor</a></button>
   
   <button> <a href='/items'>See list of all your Vendors</a></button>
