@{
  Layout = "_Layout";
}


<h1>Welcome to Your Vendor Tracker</h1>
<h3>You can track your vendors and their orders with just a few clicks!</h3>
<img class="bread" src="https://i.pinimg.com/originals/87/7f/51/877f514a5538a06026cced4e9672ab80.gif" alt="gif of bread baking">
<br />
<a href='/vendors/new'><button>Add a Vendor</button></a>

<a href='/vendors'><button>See list of all your Vendors</button></a>
